<div class="plyr_block">
    <style scoped>
        .w-full {
                width: 100%
        }
    </style>
    <h2>{{ display_name }}</h2>
    <video id="video-player" class="plyr w-full" preload="auto" controls width="100%" height="400">
            <source src="{{ url }}" type="application/x-mpegURL" />
    </video>
    {% if allow_download or source_url != "" %}
    <ul>
        {% if allow_download %}
        <li class="video-download-button">
            <a href="{{ url }}" download>Download the video</a>
        </li>
        {% endif %}
        {% if source_url != "" %}
        <li class="video-download-button">
            <a href="{{ source_url }}" download>{% if source_text == "" %}Download the source
                document{% else %}{{ source_text }}{% endif %}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
<script>
	const player = new Plyr(document.getElementById('video-player'), {
			title: {{display_name}},
			settings: ['quality', 'speed', 'loop'] 
		});
        player.play();

        let head = document.getElementsByTagName('HEAD')[0];
        let link = document.createElement('link');

        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '../css/plyr.css';

        head.appendChild(link);
</script>
